attrs
certifi
cffi
et_xmlfile
h11
idna
MouseInfo
numpy
openpyxl
outcome
pandas
PyAutoGUI
pycparser
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
PySocks
python-dateutil
pytweening
pytz
selenium
six
sniffio
sortedcontainers
trio
trio-websocket
typing_extensions
tzdata
urllib3
websocket-client
wsproto